.contact{

    &__header{

        text-align: center;

        h3{
            padding: 0;
            margin: 0;
        }

        h1{

            font-size: 1.8em;
            margin-top: -7px;
            color: $blue_dark;
            line-height: 1.2em;

             // mobile first responsive
             @media (min-width: 768px) {

                font-size: 2.4em;

            } 

        }

    }

    &__form{

        &--inputs{
            
            text-align: left;

            label{
                
                font-size: 0.9em;
                letter-spacing: 0.03em;
                
            }

            .errors p {

                padding: 0;
                margin: 0;
                font-size: 0.8em;
                color: $warning;
                opacity: 1;

                transition: opacity .6s ease-in-out;
                -moz-transition: opacity .6s ease-in-out;
                -webkit-transition: opacity .6s ease-in-out;

            }

            .btn{

                text-align: center;
                margin-bottom: 1em;

            }
            
        }

    }

}