// Footer
//––––––––––––––––––––––––––––––––––––––––––––––––––

.footer{

    padding: 10rem 0;
    text-align: center;
    position: relative;

    // mobile first responsive
    @media (min-width: 768px) {

        text-align: initial;
        padding: 20rem 0;

    }

    &__item{

        position: relative;
        margin-bottom: 3rem;

         // mobile first responsive
         @media (min-width: 768px) {

            &--left{

                text-align: right;

            }

            &--social{
                
                margin-top: -14px;

            }

        }

        &__tittle, &__info{

            font-size: 1.5rem;
        
        }

        &__tittle{

            color: $dark;

        }

        &__info{

            margin: .3rem;

            a{

                color: white;
                
            }

        }

        &--msj:after{

            background-color: rgba(255, 255, 255, 0.575);
            content: '';
            display: block;
            height: 5px;
            position: absolute;
            width: 0;
            top: 29px;
            transition: all .2s ease-in-out;
        }

        &__header{

            font-size: 4rem;
            font-family:  $font-main-bold;
            font-size: 600;
            letter-spacing: .2rem;
            text-transform: uppercase;
            margin: 8rem 0;

            // mobile first responsive
            @media (min-width: 768px) {

                margin: 0;

            }
           
            &:before{

                background-color: white;
                content: '';
                display: block;
                height: 1px;
                position: absolute;
                width: 100%;
                top: -40px;

                // mobile first responsive
                @media (min-width: 768px) {

                    top: -125px;

                }

            }

            &:after{

                background-color: white;
                bottom: -40px;
                content: '';
                display: block;
                height: 1px;
                position: absolute;
                width: 100%;

                // mobile first responsive
                @media (min-width: 768px) {

                    bottom: -125px;

                }
                
            }

        }

    }


    &:hover &__item--msj:after{

        width: 100%;
    
    }

    &_explore{

        bottom: 53px;
        cursor: pointer;
        left: 0;
        margin: auto;
        right: 0;
        position: absolute;
        text-align: center;

        &--text{

            color: lighten(#d9eaf4, 1% );
            transition: all .1s ease-in-out;

            // mobile first responsive
            @media (min-width: 768px) {

                margin-left: 6rem;

            }

        }
        
        &--line{

            // circle
            &:after{

                content: '';
                background: white;
                border-radius: 50px;
                bottom: 4px;
                display: inline-block;
                height: 7px;
                left: 0;
                margin: auto;
                right: 0;
                position: absolute;
                text-align: center;
                transform: scale(1);
                width: 7px;
                z-index: 9999;
                transition: all .1s ease-in-out;
            
            
            }

            // line to move
            &:before{

                content: '';
                background: white;
                display: inline-block;
                height: 27px;
                left: 0;
                margin: auto;
                right: 0;
                position: absolute;
                top: 56px;
                text-align: center;
                transition: all .2s ease-in-out;
                width: 3px;
                z-index: 999;
            
            }

        }

        // background line 
        &--fill:before{

            content: '';
            background: #9ddcf2;
            bottom: -53px;
            display: inline-block;
            height: 52px;
            left: 0;
            margin: auto;
            right: 0;
            width: 3px;
            position: absolute;
            text-align: center;
            
        }


        // hover interaction with the explore
        &:hover{

            .footer_explore--text{

                color: white;

            }

            // circle
            .footer_explore--line::after{
            
                background: white;  
                transform: scale(1.3);  

            }

            // line to move
            .footer_explore--line:before{

                height: 57px;  
                background: white;      

            }


        }
    
    }

}
