@use '../base/font' as font;
@use '../variables' as *;
@use "sass:color";

// Hero
//––––––––––––––––––––––––––––––––––––––––––––––––––

.hero-interactive{

  background-color: $gray;
  bottom: 0;
  position: absolute;
  z-index: -1;

}

.hero{

  &_container{

    align-items: center;
    background: url("/images/cloud.svg")center  no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 800px;

    display:flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    width:100%;

    @media (min-width: 2560px) {

      background-size: 1200px;

    }

   &_copy{

      display:table-cell;
      font-size: 2.3rem;
      padding: 0 5rem;
      vertical-align:middle;

      @media (min-width: 424px) {

          font-size: 3rem;

      }

    }

  }

  // user name
  &_user{

    color: $blue_dark;
    font-weight: 300;
    font-family: font.$font-main-bold;
    position: relative;

    &_dot:before{

      content: '';
      border: 2px solid $blue_dark;
      background-color: $gray;
      border-radius: 50px;
      height: 6px;
      left: 11px;
      top: 0px;
      position: absolute;
      width: 6px;

      @media (min-width: 424px) {

        &{

          height: 8px;
          left: 15px;
          top: 0px;
          width: 8px;

        }

      }

    }

  }

  &_explore{

    bottom: 53px;
    cursor: pointer;
    left: 20%;
    position: absolute;

    &--text{

      color: color.mix(black, $gray_dark, 20%);
      transition: all .1s ease-in-out;

    }

    &--line{

      // circle
      &:after{

        content: '';
        background: color.mix(black, $gray_dark, 20%);
        border-radius: 50px;
        bottom: 4px;
        display: inline-block;
        height: 7px;
        left: -2px;
        position: absolute;
        transform: scale(1);
        width: 7px;
        z-index: 9999;
        transition: all .1s ease-in-out;


      }

      // line to move
      &:before{

        content: '';
        background: $gray_dark;
        display: inline-block;
        height: 27px;
        position: absolute;
        top: 56px;
        transition: all .2s ease-in-out;
        width: 3px;
        z-index: 999;

      }

   }

    // background line
    &--fill:before{

      content: '';
      background: $gray_light;
      display: inline-block;
      height: 52px;
      width: 3px;
      position: absolute;
      bottom: -53px;

    }


   // hover interaction with the explore
   &:hover{

      .hero_explore--text{

        color: $blue_dark;

      }

      // circle
      .hero_explore--line::after{

        background: $blue_dark;
        transform: scale(1.3);

      }

      // line to move
      .hero_explore--line:before{

        height: 57px;
        background: $blue;

      }


    }

  }

}