// Portfolio
//––––––––––––––––––––––––––––––––––––––––––––––––––

.portfolio_project{
    
    &__wrapper{

        position: relative;
        margin-bottom: 50rem;

        // mobile first
        @media (min-width: 375px) {

            margin-bottom:  35rem;
                
        }

        @media (min-width: 425px) {

            margin-bottom:  30rem;
        
        }
    
        @media (min-width: 580px) {
    
            margin-bottom: 20rem;
        
        }

        @media (min-width: 600px) {
    
            margin-bottom: 7rem;

        }

        .col-xs-12, .col-xs-11, .col-sm-8, .col-md-6{

            padding: 0;
    
        }
        
    }
    
    &__image img{

        opacity: .6;
        transition: all .3s ease-in-out;
        width: 100%;

        backface-visibility: hidden; // fixing a bug in chrome that move (translate) the element on hover
        -webkit-backface-visibility: hidden;

    }

    // mobile first
    @media (min-width: 769px) {

        &__image img{

            scale: 1;

        }

        &:hover{

            .portfolio_project__image img{
                
                scale: 1.02;
    
            }
    
        }    
                    
    }
    
    &__info{

        background-color: #fff;
        border: 2px solid $blue;
        border-radius: 5px;
        box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.28);
        display: block;
        margin-left: 17%;
        padding: 3rem;
        position: absolute;
        top: 35%;
        transition: all .3s ease-in-out;

         // mobile first
        @media (min-width: 769px) {

            border: 2px solid transparent;

            &:hover{

                border: 2px solid $blue;
                transform: translate(0px, -10px);
    
            }
                
        }

    }

    &__circle{

        background-color: $blue-light;
        border: 3px solid #fff;
        border-radius: 15px;
        height: 20px;
        left: -13.2%;
        margin-top: -8px;
        position: absolute;
        top: 17%;
        width: 20px;
        z-index: 99;

        @media (min-width: 768px) {
            
            left: -6.2%;
            top: 50%;
        
        }
 
    }

    &__date, &__divider, &__tech{

        display: inline-block;
        color: $blue-dark;

    }

    &__divider{

        padding: 0 1rem;

    }

    &__title, &__description{

        color: $darker;

    }

    &--hide{

        display: none;

    }

}