.preloader{ 

  align-items: center;
  background: url("/images/cloud.svg")center  no-repeat;
  background-size: cover;
  background-position: center; 
  background-size: 800px;
  background-color: white;
  display:flex;
  justify-content: center;
  text-align: center;
  transition: all .1s ease-in-out;
  min-height: 100vh;
  width:100%;  
  position: absolute;
  z-index: 999999;
  overflow-x: hidden;
  
  -webkit-animation: desappear .4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2.3s; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease-out;
  animation: desappear .4s;
  animation-timing-function: ease-out;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;

  pointer-events: none;

  // first box
  &:before{

    content: '';
    position: absolute;
    min-height: 100vh;
    width: 20%;
    background-color: $blue-dark;
    right: -20%;
    z-index: 999999999999;

    -webkit-animation: move .7s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1.8s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-out;
    animation: move .7s;
    animation-timing-function: ease-out;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;

  }

  // second box
  &:after{

    content: '';
    position: absolute;
    width: 20%;
    min-height: 100vh;
    background-color: $blue;
    right: -20%;

    -webkit-animation: move .7s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 2.1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease-out;
    animation: move .7s;
    animation-timing-function: ease-out;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;

  }
  
  @media (min-width: 2560px) {

    background-size: 1200px;

  }

  &__container{

    display:table-cell;
    vertical-align:middle;
    
  }

  &__copy, .box{

    text-align: center;

  }

  .preloader__logo{

    width: 15.3rem;
  
    .cls-1{fill:none;}
    .cls-2{fill:#c0e3f6;}
    .cls-3{clip-path:url(#clip-path);}
    .cls-4{fill:#bfe3f6;}
    .cls-5{fill:#c0e4f7;}
    .cls-6{fill:#8dd6ef;}
  
  }

  &__loader{

    bottom: 150px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 4rem;

  }

  .circle-chart__circle {

    animation: circle-chart-fill 2s reverse;
    transform: rotate(-90deg);
    transform-origin: center;

  }
  
  @keyframes circle-chart-fill {

    to { stroke-dasharray: 0 100; }

  }
  
  @keyframes desappear {

    to {

      opacity: 0;

    }

  }

  @keyframes move {

    to {

      right: 120%;
      width: 50%;

    }

  }

}