.project{
    
    &--pbottom{

        margin-bottom: 5rem;

    }

    .bar{

        padding: 14rem 0;

    }

    &__header{

        padding: 10rem 0;

    }

    &__full--image{

        border-radius: 5px;
        box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;
        width: 100%;
        
        // mobile first
        @media (min-width: 769px) {

            margin-bottom: 6rem;
                
        }
        
    }

    &__container{

        border: 2px solid $blue;
        box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.28);
        margin-bottom: 8rem;
        overflow: hidden;
        padding: 12rem 4rem 6rem 4rem;
        position: relative;
        border-radius: 5px;
        transition: all .3s ease-in-out;
        
        &:hover { 
            
            border: 2px solid $blue;

        }

        // mobile first
        @media (min-width: 769px) {

            border: 2px solid transparent;

            &:hover{

                border: 2px solid $blue;
    
            }
                
        }
        
    }

    &__img{

        position: absolute;
        width: 100%;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #f1f3f5;
        top: 0;
        left: 0;
        opacity: .1;
    }

    .challenges{

        background-image: url("/images/challenge@2x.jpg");

    }

    .padsquad{

        background-image: url("/images/padsquad@2x.jpg");
        
    }

    &__circle{


        background-color: $blue;
        border: 3px solid #fff;
        border-radius: 15px;
        height: 28px;
        left: 39px;
        margin-top: -8px;
        position: absolute;
        top: 29px;
        width: 28px;
        z-index: 9;

    }

}