// Header
//––––––––––––––––––––––––––––––––––––––––––––––––––

header{

  height: 95px;
  left: 0;
  padding: 4rem 0;
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 1000;
  transform: translateZ(0);

}

// Logo SVG
//––––––––––––––––––––––––––––––––––––––––––––––––––
.logo{

  width: 6.3rem;

  .cls-1{fill:none;}
  .cls-2{fill:#c0e3f6;}
  .cls-3{clip-path:url(#clip-path);}
  .cls-4{fill:#bfe3f6;}
  .cls-5{fill:#c0e4f7;}
  .cls-6{fill:#8dd6ef;}

}

  
// Social SVG
//––––––––––––––––––––––––––––––––––––––––––––––––––

.social{

  &_icon{

    width: 1.7rem;
    transform: scale(1);
    transition: all .3s;

    .cls-1{

      fill:$blue;
      transition: all .2s;
      
    }

  }

  &_behance{

    width: 2.2rem;

  }


  &_twitter{

    width: 1.8rem;

  }

  // Hover icons
  
  &_icon:hover{
    
    transform: scale(1.2);

  }

  &_email:hover {

    .cls-1{

      fill: darken($blue, 20%);

    }
    
  }

  &_behance:hover {

    .cls-1{

      fill: #0057ff;

    }
    
  }

  &_dribble:hover {

    .cls-1{

      fill: #ea4c89;

    }
    
  }

  &_github:hover {

    .cls-1{

      fill: #24292e;

    }
    
  }

  &_instagram:hover {

    .cls-1{

      fill: #ED4956;

    }
    
  }

  &_twitter:hover {

    .cls-1{

      fill: #1da1f2;

    }
    
  }

  &_linkedin:hover {

    .cls-1{

      fill: #0077B5;

    }
    
  }

}