// Hero
//––––––––––––––––––––––––––––––––––––––––––––––––––

.hero-interactive{

  background-color: $gray;
  bottom: 0;
  position: absolute;
  z-index: -1;

}

.hero{

  &_container{

    background: url("/images/cloud.svg")center  no-repeat;
    background-size: cover;
    background-position: center; 
    background-size: 800px;
    text-align: center;
    min-height: 100vh;
    padding: 9rem 0;

    &:before {

      content: '';
      display: inline-block;
      min-height: calc(100vh - 58rem);
      vertical-align: middle;

    }

  }

  &_user{

    color: $blue_dark;
    font-weight: 300;
    font-family: $font-main-bold

  }

}