// Need Resume
//––––––––––––––––––––––––––––––––––––––––––––––––––

.resume{

     // mobile first
     @media (min-width: 768px) {

        margin-top: 8rem;
            
    }

    &__title, &__description{

        margin: 0;
    
    }

    &__title{

        // mobile first responsive
        @media (min-width: 768px) {

            font-size: 3.5rem;

        }

    }

    &__description{

      margin-bottom: 3rem;

      // mobile first responsive
      @media (min-width: 768px) {

        font-size: 1.8rem;
        margin-bottom: 0;

      }

    }
    
}