#app:not(:empty) + .preloader {

    display: none;
  
  }

  .preloader{ 

    align-items: center;
    background: url("/images/cloud.svg")center  no-repeat;
    background-size: cover;
    background-position: center; 
    background-size: 800px;
    cursor: url("/images/mouse_pointer@2x.png") 1 1, auto;
    display:flex;
    justify-content: center;
    text-align: center;
    transition: all .1s ease-in-out;
    min-height: 100vh;
    width:100%;  
    
    
    @media (min-width: 2560px) {

      background-size: 1200px;

    }

    &__container{

      display:table-cell;
      margin-left: 13rem;
      vertical-align:middle;
     
    }

    &__copy, .box{

      text-align: center;

    }

    .preloader__logo{

      width: 15.3rem;
    
      .cls-1{fill:none;}
      .cls-2{fill:#c0e3f6;}
      .cls-3{clip-path:url(#clip-path);}
      .cls-4{fill:#bfe3f6;}
      .cls-5{fill:#c0e4f7;}
      .cls-6{fill:#8dd6ef;}
    
    }

    &__loader{

      left: calc(50% - -2em);
      position: absolute;
      top: calc(50% - -11em);
      width: 4rem;

    }

    .circle-chart__circle {

      animation: circle-chart-fill 2s reverse;
      transform: rotate(-90deg);
      transform-origin: center;

    }
    
    @keyframes circle-chart-fill {

      to { stroke-dasharray: 0 100; }

    }

}