/* general style */

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color ease 0.5s; /* Safari */
  transition: color ease 0.5s;
}

section {
  display: block;
}

/* container full height of the window */

.full-height {
  min-height: 100vh;
  text-align: center;
  padding: 3rem 0;
  box-sizing: border-box;
}

.full-height:before {
  content: "";
  display: inline-block;
  min-height: calc(100vh - 16rem);
  vertical-align: middle;
  margin-right: -0.26em;
}

.full-height .container {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.container {
  box-sizing: border-box;
}

/* background */

.wrapper {
  background: url(img/bg.jpg) center white no-repeat;
  background-size: cover;
}

.wrapper .container {
  max-width: 547px;
}

#keys-content {
  background-color: #000000bf;
  -webkit-transition: all ease 0.5s; /* Safari */
  transition: all ease 0.5s;
}

#keys-content.active {
  background-color: #00000047;
}

/* Keys */

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
}

.keys_title--mobile {
  display: none;
}

.keys {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  color: white;
  margin: 1rem;
  padding: 2rem 0;
  width: 8rem;
  background-color: #ff872b66;
  -webkit-transition: all ease 0.5s; /* Safari */
  transition: all ease 0.5s;
}
.keys kbd {
  display: block;
  margin-bottom: -32px;
}
.keys .sound {
  font-size: 0.3em;
  font-weight: 100;
  letter-spacing: 0.04em;
}

.playing {
  background-color: #ff872beb;
  transform: scale(1.1);
}

/* copyright */

.copyright {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.copyright p {
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  color: #ffffffa3;
}

.copyright p span {
  font-style: italic;
}

.copyright p a:hover {
  color: #ff872b;
}

/* responsives media queries */

@media (max-width: 768px) {
  .keys_title--desktop {
    display: none;
  }
  .keys_title--mobile {
    display: block;
  }

  .copyright {
    position: initial;
  }
}

@media (max-width: 487px) {
  h1 {
    font-size: 2em;
  }
}

@media (max-width: 425px) {
  .copyright {
    padding: 0 6em;
  }
}

@media (min-width: 340px) {
  .copyright {
    padding: 0 2em;
  }
}

@media (max-width: 320px) {
  .copyright {
    margin-top: 2em;
    font-size: 0.8em;
  }

  .keys {
    margin: 0.3rem 0.2rem;
  }

  h1 {
    font-size: 1.2em;
  }

  .keys {
    padding: 0.5rem 0;
    width: 5rem;
  }

  .keys kbd {
    font-size: 0.7em;
  }
}
