// Colors
$gray: #fbfcfd;
$gray_dark: #d3d3d3;
$gray_light: #eef2f5;
$blue: #c1e4f8;
$blue-light: #53b1e6;
$blue-lighter: #d5dbe0;
$blue_dark: #51ace0;
$darker: #36434d;
$dark: #4c5f6d;
$dark_light: #7a8e9d;
$warning: #ec5959;

  // style placeholder text inputs
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
  }



