/* general style */

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  -webkit-transition: color ease 0.5s; /* Safari */
  transition: color ease 0.5s;
}

section {
  display: block;
}

/* container full height of the window */

.full-height {
  min-height: 100vh;
  text-align: center;
  padding: 3rem 0;
  box-sizing: border-box;
}

.full-height:before {
  content: "";
  display: inline-block;
  min-height: calc(100vh - 16rem);
  vertical-align: middle;
  margin-right: -0.26em;
}

.full-height .container {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.container {
  box-sizing: border-box;
}

/* background */

.wrapper {
  /* background: url(img/night.jpg) center white no-repeat; */
  background-size: cover !important;
}

.wrapper .container {
  max-width: 547px;
}

#project-content {
  background-color: #00000085;
  -webkit-transition: all ease 0.5s; /* Safari */
  transition: all ease 0.5s;
}

#project-content.active {
  background-color: #00000047;
}

/* Header */

h1 {
  color: white;
  text-transform: uppercase;
  font-size: 2.5em;
}

/* Main Content */
.clock {
  width: 40vh;
  height: 40vh;
  margin: auto;
  margin-bottom: 3em;
  position: relative;
  border-radius: 50%;
  background-color: #ffffff0f;
  box-sizing: border-box;
}

.number {
  width: 1rem;
  height: 0.1rem;
  position: absolute;
  margin: auto;
  background-color: white;
  border-radius: 50px;
}

.number_position--top,
.number_position--bottom {
  right: 0;
  left: 0;
  transform: rotate(90deg);
}

.number_position--right,
.number_position--left {
  top: 0;
  bottom: 0;
}

.number_position--top {
  top: 8px;
}

.number_position--right {
  right: 0;
}

.number_position--bottom {
  bottom: 8px;
}

.number_position--left {
  left: 0;
}

.hand {
  position: absolute;
  transform: rotate(90deg);
  background-color: white;
  border-radius: 50px;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand_hour,
.hand_minutes {
  top: 50%;
  right: 50%;
  height: 0.2rem;
  transform-origin: 100%;
}

.hand_minutes {
  width: 47%;
}

.hand_hour {
  width: 35%;
}

.hand_seconds {
  width: 68%;
  height: 0.1rem;
  top: 50%;
  right: 30%;
  transform-origin: 71%;
}

.point,
.point_bigger,
.point_bigger--med,
.point_bigger--lg {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;

  border-radius: 50%;
}

.point {
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
}

.point_bigger {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ffffff2e;
}

.point_bigger--med {
  width: 4rem;
  height: 4rem;
  background-color: #ffffff2e;
}

.point_bigger--lg {
  width: 8rem;
  height: 8rem;
  background-color: #ffffff17;
}

.digital_clock p {
  color: white;
  font-size: 1.2em;
  font-weight: 100;
}

/* copyright */

.copyright {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.copyright p {
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  color: #ffffffa3;
}

.copyright p span {
  font-style: italic;
}

.copyright p a:hover {
  color: #ff872b;
}

/* responsives media queries */

@media (max-width: 768px) {
  .copyright {
    position: initial;
  }
}

@media (max-width: 487px) {
  h1 {
    font-size: 2em;
  }
}

@media (max-width: 425px) {
  .copyright {
    padding: 0 6em;
  }
}

@media (min-width: 340px) {
  .copyright {
    padding: 0 2em;
  }
}

@media (max-width: 320px) {
  .clock {
    width: 35vh;
    height: 35vh;
  }
  .copyright {
    margin-top: 2em;
    font-size: 0.8em;
  }
  h1 {
    font-size: 1.2em;
  }
}
