// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––
// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.5rem; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 400;
}


// Colors
$gray: #fbfcfd;
$blue: #c1e4f8;


// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
}

div, header, footer {
  box-sizing: border-box;
}

// Logo SVG
//––––––––––––––––––––––––––––––––––––––––––––––––––
.logo{
  width: 6.3rem;

  .cls-1{fill:none;}
  .cls-2{fill:#c0e3f6;}
  .cls-3{clip-path:url(#clip-path);}
  .cls-4{fill:#bfe3f6;}
  .cls-5{fill:#c0e4f7;}
  .cls-6{fill:#8dd6ef;}

}


// Social SVG
//––––––––––––––––––––––––––––––––––––––––––––––––––

.social_icon{
  width: 1.5rem;

  .cls-1{
    fill:$blue;
  }
  
}


// layout
//––––––––––––––––––––––––––––––––––––––––––––––––––
.wrap {

  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;

}

header{

  padding: 2rem 0;

}

.hero-interactive{

  bottom: 0;
  position: absolute;
  z-index: -1;
  background-color: $gray;

}

//Responsive
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .xs-center{
      text-align: center;
  }
  
}