// Base Styles
//––––––––––––––––––––––––––––––––––––––––––––––––––

// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {

  font-size: 62.5%;
  height: 100%;
  color: $darker;
  font-family: $font-main;
  letter-spacing: 0.04rem;
  max-width: 100%;
  overflow-x: hidden;
  
}

body {

  font-size: 1.5rem; // currently ems cause chrome bug misinterpreting rems on body element
  line-height: 1.6;
  font-weight: 400; 
  overflow-x: hidden;

  // mouse cursor
  cursor: url("/images/pointer/mouse_pointer@1x.png") 1 1, auto !important;
  cursor: -webkit-image-set(url("/images/pointer/mouse_pointer@1x.png") 1x, url("/images/pointer/mouse_pointer@2x.png") 2x) 0 0,pointer !important;

  a:hover, button:hover, .btn:hover, .explore:hover{

    cursor: url("/images/mouse_pointer@1x.png") 1 1, auto !important;
    cursor: -webkit-image-set(url("/images/pointer/mouse_pointer_hover@1x.png") 1x, url("/images/pointer/mouse_pointer_hover@2x.png") 2x) 0 0,pointer !important;

  }

}

a{

  text-decoration: none;

}

// Text Hightlight
//––––––––––––––––––––––––––––––––––––––––––––––––––

::-moz-selection {

  background: $blue_dark;
  color: white;

}
::selection {

  background: $blue_dark;
  color: white;

}


// Padding
//––––––––––––––––––––––––––––––––––––––––––––––––––

.pb-medium{

  padding-bottom: 3rem;

}

// Titles
//––––––––––––––––––––––––––––––––––––––––––––––––––

h1{

  font-weight: 600;

}

.header_main, .header_section{

  text-align: center;
  color: $blue-dark;
  
}

.header_main{

  padding: 8rem 0;
  
}

.header_section{

  padding-top: 8rem;

}

// Form
//––––––––––––––––––––––––––––––––––––––––––––––––––

textarea{

  resize: none;

}

select{
  
  background-image:
  linear-gradient(45deg, transparent 50%, gray 50%),
  linear-gradient(135deg, gray 50%, transparent 50%),
  linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  border-radius: 0;
  height: 4rem;

}

input, select, textarea{

  background-color: white;
  border: 1px solid $gray_dark;
  box-sizing: border-box;
  color: $darker;
  margin: 1rem 0;
  padding: 1rem;
  width: 100%;

  @include placeholder {

    color: darken($gray_dark, 30%);
    font-family: $font-main;
  
  }

  &:hover, &:focus{

    border-color: $blue-dark;

  }

}

input, select, textarea, .btn, a{

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline:0px !important;
  -webkit-appearance:none;
  transition: all .3s ease-in-out;

}

// Button
//–––––––––––––––––––––––––––––––––––––––––––––––––

.btn{

  background-color: $blue-light;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: $font-main;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  padding: 1rem 0;
  position: relative;
  width: 100%;

  a{
    
    color:  white;

  }
  
  &:hover{

    background-color: darken($blue-dark, 5%);

  }
  
  &__icon{

    &:before{

      bottom: 0;
      background: white;
      content: '';
      display: inline-block;
      height: 1px;
      margin: auto 0;
      margin-left: 10px;
      position: absolute;
      top: 0;
      width: 22px;

    }

    &:after{

      border: 1px solid white;
      border-radius: 50px;
      bottom: 0;
      content: '';
      display: inline-block;
      height: 10px;
      margin: auto 0;
      margin-left: 32px;
      position: absolute;
      top: 0;
      width: 10px;

    }

  }


  &--small{

    padding: 17px 6.8rem 17px 2.2rem;

  }

  &--round{

    border-radius: 3px;

  }

  &--border{

    background: none;
    border: 2px solid #eaedef;
    color: $blue-dark;
    border-radius: 5px;
    padding: 11px;

    &:hover{

      color:  white;
      border-color: $blue-dark;

    }

  }
  
}


// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {

  border-color: transparent;
  margin: 3.5rem 0;
  height: 0;
  position: relative;
  opacity: .5;

  &:after{
    
    content: '';
    background-color: $darker;
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    
  }

}

div, header, section, footer {

  box-sizing: border-box;
  
}


// layout
//––––––––––––––––––––––––––––––––––––––––––––––––––

.wrap {

  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;

}

.bar{

  padding: 8rem 0;

  &--gray{

    background-color: $gray;
    border-top: 1px solid $blue-lighter;
    border-bottom: 1px solid $blue-lighter;

  }

  &--blue{

    background-color: $blue-light;
    color: white;

  }

}

.box{

  &--left{
    
    text-align: left;

  }

  &--right{

    text-align: right;

  }

  &--center{

    text-align: center;
    
  }

}